img { height: 15rem; }
sup { color: red; }
form, ul { display: flex; gap: 1rem; padding: 1rem; border: 0.1rem solid #000; }
form { flex-direction: column; width: fit-content; }
#pet-list { flex-wrap: wrap; list-style: none; }